<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GMP_CloudinaryPOC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B8C33C1A1FB6C0C50088F425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8C33C2E1FB6C0C50088F425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8C33C391FB6C0C50088F425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
